@using PekiYaBen.WebSite.Models.EntityModels;
@using PekiYaBen.WebSite.Extensions

@model List<Coach>
@{
    ViewBag.Title = "Kişisel Durum Analizi";

    var products = (List<Product>)ViewBag.Products;
    var selectedProduct = (Product)ViewBag.SelectedProduct;

}
<script>
  fbq('track', 'ViewContent');
</script>

<div class="blog">
    <section class="section breadcrumb-area bg-overlay d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Breamcrumb Content -->
                    <div class="breadcrumb-content d-flex flex-column align-items-center text-center pt-5">
                        <h2 class="text-white">@ViewBag.Title</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog" class="section blog-area ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <aside class="sidebar">
                        <!-- Single Widget -->
                        <div class="single-widget">
                            <!-- Category Widget -->
                            <div class="accordions widget catagory-widget" id="cat-accordion">
                                <div class="single-accordion blog-accordion">
                                    <h5>
                                        <a role="button" class="collapse show text-uppercase d-block p-3" data-toggle="collapse" href="#accordion1">
                                            Uygulamalar
                                        </a>
                                    </h5>
                                    <!-- Category Widget Content -->
                                    <div id="accordion1" class="accordion-content widget-content collapse show" data-parent="#cat-accordion">
                                        <!-- Category Widget Items -->
                                        <ul class="widget-items">
                                            <li><a href="/Kisisel-Durum-Analizi" class="d-flex p-3 active"><span>Kişisel Durum Analizi</span></a></li>
                                            <li><a href="/Kisisel-Strateji-Belirleme" class="d-flex p-3"><span>Kişisel Strateji Belirleme</span></a></li>
                                            <li><a href="/Bilincalti-Uygulamalari" class="d-flex p-3"><span>Bilinçaltı Uygulamaları</span></a></li>
                                            <li><a href="/Kocluk-Gorusmeleri" class="d-flex p-3"><span>Koçluk Görüşmeleri</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="row">
                        <div class="blog-details pb-2">
                            <h3 class="blog-title py-2"><a href="#">Kişisel Durum Analizi nedir?</a></h3>
                            <p class="d-block py-2">Kişisel Durum Analizi ve Kişisel Strateji Belirleme çalışmaları kendi kendine koçluk yapabileceğin,gerçek bir seans kalitesinde fayda sağlayabileceğin yönde geliştirildi.</p>
                            <p class="d-block py-2">Kendini keşfedip, Kişisel farkındalığını arttırdığında hayallerini hedefe, hedeflerini gerçeğe dönüştürmen için eylem adımlarını belirlemen amaçlanıyor.</p>
                            <p class="d-block py-2">Her iki çalışmada da alanında uzman bir koç tarafından analiz sonuçların değerlendiriliyor ve tamamen senin cevapların doğrultusunda sana özel bir geribildirim raporu sunuyoruz.</p>
                        </div>
                        <div class="blog-details pb-2">
                            <h3 class="blog-title py-2"><a href="#">Kişisel Durum Analizi ne için yapılır? Ne işe yarar?</a></h3>
                            <p class="d-block py-2">Kişisel Durum Analizi ve Kişisel Strateji Belirleme çalışmaları kendi kendine koçluk yapabileceğin,gerçek bir seans kalitesinde fayda sağlayabileceğin yönde geliştirildi.</p>
                            <p class="d-block py-2">Kendini keşfedip, Kişisel farkındalığını arttırdığında hayallerini hedefe, hedeflerini gerçeğe dönüştürmen için eylem adımlarını belirlemen amaçlanıyor.</p>
                            <p class="d-block py-2">Her iki çalışmada da alanında uzman bir koç tarafından analiz sonuçların değerlendiriliyor ve tamamen senin cevapların doğrultusunda sana özel bir geribildirim raporu sunuyoruz.</p>

                            <p class="d-block py-2">Hayatında belli bir alanda iyi gitmeyen birşeyler mi var?</p>
                            <p class="d-block py-2">Belki de birşeylerin iyi gitmediğinin farkındasın ama sorun nerede emin olamıyorsun.</p>
                            <p class="d-block py-2">Bazı alanlarda kendini geliştirmek istiyorsun</p>
                            <p class="d-block py-2">Ulaşmak istediğin bir hedefin var, nasıl başlayacağını, nasıl ilerleyeceğini belirleyemiyorsun</p>
                            <p class="d-block py-2">
                                <b>Kendini Keşfet, Farket ve Yaşa!</b>
                            </p>
                        </div>

                        <div class="blog-details pb-2">
                            <h3 class="blog-title py-2"><a href="#">Kişisel Durum Analizi nasıl uygulanır?</a></h3>
                            <p class="d-block py-2">
                                <ul class="arrow-style ls1">
                                    <li>Genel Yaşam Konuları</li>
                                    <li>İş & Kariyer</li>
                                    <li>Para & Finans</li>
                                    <li>Kişisel Gelişim</li>
                                    <li>Aile</li>
                                    <li>Aşk & Romantizm</li>
                                    <li>Fiziksel Çevre</li>
                                    <li>Sosyal Çevre & Arkadaşlar</li>
                                    <li>Sağlık</li>
                                    <li>Yöneticilik</li>
                                    <li>Liderlik</li>
                                </ul>
                                <br />
                                Kendine en uygun olan konuda analize hemen başla!<br />
                                Önce seçtiğin konuda şu anki durumuna, ardından gelecekte olmak istediğin duruma odaklanarak kendi cevaplarını buluyorsun.
                            </p>
                        </div>

                        <div class="blog-details pb-2">
                            <h3 class="blog-title py-2"><a href="#">Kişisel Durum Analizi'ne nasıl ulaşırım?</a></h3>
                            <p class="d-block py-2">Analizi tamamladığında koçluk bakış açısıyla sana özel detaylı bir geribildirim raporunu kayıtlı eposta adresine gönderiyoruz</p>
                            <img src="~/Content/assets/img/features/KDA.png" />
                        </div>
                        <div class="blog-details pb-2">
                            <h3 class="blog-title py-2"><a href="#">Kişisel Durum Analizi ücreti nedir?</a></h3>
                            <p class="d-block py-2">Gerçek seans kalitesinde koçluk hizmeti olan sana özel Kişisel Durum Analizi'ne sadece <b>19.99 TL</b>'ye ulaşabilirsin.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>